body {
    background-color: #8d979b;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    text-align: center;
    color: #ffffff;
    background-color: #4a5a60;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a {
    color: #072e83;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.whatsapp-button,
.linkedin-button,
.pdf-button {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.whatsapp-button {
    background-color: #25D366;
}

.whatsapp-button:hover {
    background-color: #1ebe57;
    transform: scale(1.05);
}

.linkedin-button {
    background-color: #0077b5;
}

.linkedin-button:hover {
    background-color: #005582;
    transform: scale(1.05);
}

.pdf-button {
    background-color: #e74c3c;
}

.pdf-button:hover {
    background-color: #c0392b;
    transform: scale(1.05);
}

.whatsapp-button i,
.linkedin-button i,
.pdf-button i,
.email-button i {
    margin-right: 8px;
}

.email-button {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #f39c12;
    /* Cor inicial do botão */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.email-button:hover {
    background-color: #d68910;
    /* Cor ao passar o mouse */
    transform: scale(1.05);
    /* Efeito de zoom */
}